/* general styles the apply to the whole app


* {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: whitesmoke;
}

.bucket-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 800px;
  min-height: 600px;
  background: black;
  text-align: center;
  margin: 32px auto;
  border-radius: 20px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

h3 {
  margin: auto;
  color: rgb(66, 171, 231);
  font-size: 20px;
} */

/* *{
  background-color: black;
} */
main{
  display: flex;
  
}

@media only screen and (max-width: 600px) {
  .jumbotron h1 {
    font-size: 8vw;
  }
}

.row > div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
}

.jumbotron {
  background-color: #815f16;
  color: #ffffff;
  
}
.jumbotron .col {
  margin: auto;
  height: 500px;
}
.profilepic{
  border-radius: 50%;
}
img {
  position: relative;
  top: 70px;
}
.jumbotron h1, h2 {
  margin-top: 50%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  font-size: 70px;
}

.aboutme, p{
  color: #ffffff;
}

.title{
  color: black;
}
.header{
  text-decoration: none !important;
  color: black;
}