/* general styles the apply to the whole app


* {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: whitesmoke;
}

.bucket-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 800px;
  min-height: 600px;
  background: black;
  text-align: center;
  margin: 32px auto;
  border-radius: 20px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

h3 {
  margin: auto;
  color: rgb(66, 171, 231);
  font-size: 20px;
} */

/* *{
  background-color: black;
} */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&family=Merriweather:wght@300&display=swap');


main{
  display: flex;
  
}



/* .row > div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
} */
/* #5f170b */

.jumbotron {
  background-color: #641506;
  color: #ffffff;
}
.aboutmecontainer2{
  background-color: #641506;
}

.jumbotron .col {
  margin: auto;
  /* height: 500px; */
}
.profilepic{
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* img {
  position: relative;
  top: 70px;
} */
.jumbotron h1, .jumbotron h2 {
  /* margin-top: 20%; */
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  font-size: 70px;
}

.aboutme, p{
  color: black;
}
.p{
font-family: 'Merriweather';
}

.aboutmecontainer{
  background-color: rgb(231, 231, 231);
 
}


.aboutme, .techtitle, .techtitle2{
  font-family: 'jetbrains mono';
}

.projecttitle{
  color: #ffffff;
}

.title, .projecttitle{
  font-family: 'rock salt';
}

.caption, .info, .header, .footer, .subtitle {
  font-family: 'jetbrains mono';
}

.header {
  text-decoration: none !important;
  color: black;
  font-size: 20px;
}
.font{
  color: #ffffff;
}
.cont{
  margin-left: auto;
  margin-right: auto;
display: flex;

}
.foot,
.cm,
.t{
  color: white;
  text-decoration: none !important;
}
.foot:hover{
  color: #641506;
}


.nav-link{
  color: black !important;
  
}

/* a{
  color: white !important;
  text-decoration: none !important;
} */
.links{
  color: #641506;
}

.cards {
 margin-left: auto;
 margin-right: auto;

}

.cardbody, .cardinfo {
  margin-left: auto;
 margin-right: auto;
 
}
.cardinfo{
  color: black !important;
  text-decoration: none !important;
}
.cardbody {
  text-align: center;
}

.contactmecontainer{
  color: black;
  text-align: center;
  
}

@media only screen and (max-width: 600px) {
  .jumbotron h1 {
    font-size: 8vw;
  }
}